################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Tetris/TetrisGui/obj/Debug
/Tetris/TetrisGui/Properties
